*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}

.switch-btn{
    position: relative;
    overflow: hidden;
    padding-bottom: 0.8em;
}
.switch-btn::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 15%;
    width: 120%;
    
}

.btn-off::after{
    background-color: #333;
}
.btn-on::after{
    background-color: #4BB543;
}
